body {
  font: 30px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #B75066;
}

ol, ul {
  padding-left: 30px;
}

button:not(.square) {
  height: 16px;
  background-color: #EFB08F;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  float: left;
  font-size: 90px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

/*-----MOBILE RESPONSIVE-----*/
@media only screen and (max-width: 486px) {
  body {
    font: 15px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #B75066;
  }

  .square {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #000;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
}
